body{
  background-color: grey;
}

.chatMessageText{
  color: white;
}

.chatWindow {
  background-color: grey;
}

.slideoutButton{
  background-color: white;
  color: black;
}

.slideout{
  background: grey;
  box-shadow:inset 0px 0px 0px 5px white;
  -webkit-box-shadow:inset 0px 0px 0px 5px white;
  -moz-box-shadow:inset 0px 0px 0px 5px white;
  color: white;
}

.tab button {
  color: white;
}
