body{
  background-color: #404040;
}

.chatMessage {
  font-family: "Helvetica";
}

.chatMessageText{
  color: white;
}

.chatWindow {
  background-color: #404040;
}

.slideoutButton{
  background-color: white;
  color: black;
}

.slideout{
  background: #404040;
  box-shadow:inset 0px 0px 0px 5px #505050;
  -webkit-box-shadow:inset 0px 0px 0px 5px #505050;
  -moz-box-shadow:inset 0px 0px 0px 5px #505050;
  color: white;
}

.tab button {
  color: white;
}

.tab button:hover {
  background-color: #505050;
}

.tab button.active {
  background-color: #696969;
}

.toolWindow {
  background-color: #505050;
  color: white;
}
