.chatMessage {
  font-family: "Helvetica";
}

.chatMessageText{
  color: black;
}

.chatWindow {
  background-color: white;
}

.slideoutButton{
  background-color: black;
  color: white;
}

.slideout{
  background: white;
  box-shadow:inset 0px 0px 0px 5px #e5e1d8;
  -webkit-box-shadow:inset 0px 0px 0px 5px #e5e1d8;
  -moz-box-shadow:inset 0px 0px 0px 5px #e5e1d8;
  color: black;
}

.tab button:hover {
  background-color: #e5e1d8;
}

.tab button.active {
  background-color: #ccc8c0;
}

.toolWindow {
  background-color: #FFFAF0;
}
