body{
  background-color: #f5f5dc;
}

.chatMessage {
  font-family: "Comic Sans MS";
}

.chatMessageText{
  color: black;
}

.chatWindow {
  background-color: #f5f5dc;
}

.slideoutButton{
  background-color: black;
  color: white;
}

.slideout{
  background: #f5f5dc;
  box-shadow:inset 0px 0px 0px 5px #dbdbf5;
  -webkit-box-shadow:inset 0px 0px 0px 5px #dbdbf5;
  -moz-box-shadow:inset 0px 0px 0px 5px #dbdbf5;
  font-family: "Comic Sans MS";
}

.tab button {
}

.tab button:hover {
  background-color: #dbdbf5;
}

.tab button.active {
  background-color: #9f9fe4;
}

.toolWindow{
  background-color: #dbdbf5;
}
